/* CSS Document */
body{
	margin: 0 auto;
	padding: 0;
	overflow-x:hidden;
}
	/*顶部导航栏*/
.nav{
	width: 1920px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
.daohang{
	list-style: none;
	float: right;
	margin: 46px 170px 0 auto;
	padding: 0px;
	width: 780px;
}
.daohang li:hover{
	color: #005EB2;
	font-weight: bold;
	
}
.daohang .shouye{
	width: 80px;
	border: none;
}
.daohang li{
	width: 120px;
	height: 28px;;
	float: left;
	line-height: 28px;
	font-size: 20px;
	font-family:"苹方 中等";
	color: #333;
	text-align: center;
	cursor: pointer;
	border-left: 1px solid #DDDDDD;
}


.logo1{
	width: 65px;
	height: 68px;
	background-image: url( "images/logo1.png");
	margin: 26px auto;
	float: left;
	position: absolute;
	left: 260px;
}
.logo2{
	width: 416px;
	height: 59px;
	background-image: url("images/logo2.png");
	margin: 31px auto;
	float: left;
	position: absolute;
	left: 344px;
}


/*banner部分*/
.banner{
	width: 1920px;
	height: 380px;
	margin: 0 auto;
}
/*中间部分*/
.gongsijieshaoxiangqing{
	width: 1200px;
	height: 720px;
	margin: 48px auto 0 auto;
	position: relative;
}
/*左侧导航*/
.zuodaohang{
	width: 240px;
	height: 350px;
	float:left;
	margin: 0;
}
.xuanzhonganniu{
	width: 240px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-family: "苹方 中等";
	font-size: 32px;
	letter-spacing: 2px;
	font-weight: bold;
	background-color: #005BAB;
	color: #fff;
}
.hezi1{
	width: 240px;
	height: 49px;
	background-color: #F5F5F5;
	margin-top: 5px;
	line-height: 49px;
	font-size: 18px;
	color: #333;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
}
.hezi1:hover{
	color: #005BAB;
}
.hezi1.jiagou{
	color: #005BAB;
	font-weight: bold;
}
.hezi1.gongsi a{
	text-decoration: none;
	color: #333;
}
.hezi1.gongsi a:hover{
	color: #005BAB;
}
.hezi1.lianxiwomen a{
	text-decoration: none;
	color: #333;
}
.hezi1.lianxiwomen a:hover{
	color: #005BAB;
}
.neirongdingwei{
	width: 900px;
	height: 28px;
	position: absolute;
	float: right;
	right: 0;
	border-bottom: 1px solid #C7C7C7;
	color: #999999;
	line-height: 28px;
}
.neirongdingwei span{
	color: #005BAB;
	cursor: pointer;
}
.neirongdingwei a{
	text-decoration: none;
	color: #999999;
}
.neirongdingwei a:hover{
	color: #666;
}
.gongsijiagou{
	width: 900px;
	height: 600px;
	position: absolute;
	right: 0;
	top:56px;
}



/*内容版面4*/
.neirong4{
	width: 1920px;
	height: 200px;
	margin: 80px auto 0 auto;
	background-color: #F5F5F5;
	position: relative;
}
.logo3{
	float: left;
	position: absolute;
	left: 260px;
	top:46px;
}
.lianxifangshi{
	width: 429px;
	height: 99px;
	float: left;
	position: absolute;
	top: 52px;
	left: 826px;
}
.beianquyu{
	width: 344px;
	height: 100px;
	float: right;
	position: relative;
	right: 260px;
	top: 52px;
	font-size: 14px;
}
.lianxi1{
	width: 100%;
	height: 25px;
	position: relative;
}
.lianxi2{
	width: 100%;
	height: 25px;
	margin-top: 12px;
}
.lianxi3{
	width: 100%;
	height: 25px;
	margin-top: 12px;
}
.tubiao1{
	width: 25px;
	height: 25px;
	background-image: url("images/tubiao1.png");
	float: left;
}
.dizhi{
	font-size: 14px;
	line-height: 25px;
	float: left;
	position: absolute;
	left: 31px;
	letter-spacing: 0.2px;
	color: #696969;
}
.tubiao2{
	width: 25px;
	height: 25px;
	background-image: url( "images/tubiao2.png");
	float: left;
}
.tubiao3{
	width: 25px;
	height: 25px;
	background-image: url( "images/tubiao3.png");
	float: left;
}

.dibudaohang{
	width: 100%;
	height: 24px;
}
.dibudaohang li{
	list-style: none;
	float: left;
	text-align: right;
	line-height: 14px;
	width: 76px;
	height: 24px;
	color: #000;
	font-family:"微软雅黑";
	cursor: pointer;
}
.beian{
	float: right;
	text-align: right;
	line-height:14px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 0 auto;
	color: #333;
}
.beianwenzi{
	margin: 8px auto 0px auto;
}